<html>
    <head>
        <title>DRAKE LYRICS DATABASE</title>
    </head>
    <body>
        <div>
            <h1><a href="">DRAKE LYRICS DATABASE</a></h1>
        </div>

        <div>
          {% for post in posts %}
      <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaks }}</p>
      </div>
  {% endfor %}
        <div>
            <p>published: 26.09.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi Drake i love you</p>
        </div>
    </body>
</html>
